<header class="fixed-top">
  <nav class="navbar">
    <div class="container-fluid">
      <button
        class="navbar-toggler bg-light"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/price-alerts-reminder"
                >Price Alert(s) reminder</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/unsubscribe">Unsubscribe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/how-to-use">How to use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- add bootstrap row/cols -->
