<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <title>Money Saving App</title>
  </head>
  <body>
    <div class="container-fluid" style="backdrop-filter: blur(6px);">
      <header class="row mb-5 justify-content-center">
        <h1 class="col-12 p-3 text-center display-2">The Money Saver Helper</h1>
        <p class="col-6 mt-3 px-5 text-center text-primary">
            Thank you for using the Money Saver Helper App
        </p>
      </header>
      <main class="row justify-content-center">
        <p class="col-12 text-center">
            Please be patient while we generate your price alert.... <br>
            An email will be sent to you with details the about the requested product
        </p>
        <div class="col-12 d-flex justify-content-center mt-5">
            <div class="spinner-border text-primary" role="status" style="width: 12rem; height: 12rem">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>