<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price Saver Alert</title>
    <style>
      #body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        border: 5px outset #212529;
        background-color: #EDDCD9;
      }

      .main {
        width: 80vw;
        margin: auto;
      }

      .header {
        margin-bottom: 3rem;
      }

      .title {
        padding: 0.2rem;
        color: #212529;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 300;
      }

      .intro {
        font-size: 1.75rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 2rem;
        color: #0d6efd;
      }

      .list {
        padding: 0;
        margin-top: 3rem;
        list-style: none;
        text-align: center;
      }

      .list-name {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 0.2rem;
        color: #212529;
        text-decoration: underline;
      }

      .list-id {
        color: #DE5499;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 0.2rem;
      }
    </style>
  </head>
  <body id="body">
    <header class="header">
      <h1 class="title">The Money Saving Helper</h1>
    </header>
    <main class="main">
      <h3 class="intro">
        Here are the Price Alerts you have created that are associated to:  <%=
        userEmail %>
      </h3>
      <% Product.forEach(alert => { %>
      <ul class="list">
        <li class="list-name"><%= alert.title %></li>
        <li class="list-id">Document ID: <%= alert._id %></li>
      </ul>
      <% }) %>
    </main>
  </body>
</html>
