<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include("../partials/head.ejs"); %>
  <body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs"); %>
    <div class="container-fluid py-5">
      <!-- TITLE -->
      <mark%- include("../partials/title.ejs"); %>
      <div class="row justify-content-center">
        <p
          class="col-8 px-0 py-5 text-center text-decoration-underline fw-bold fs-5 redText"
        >
          Information on how to set-up a price alert correctly
        </p>
      </div>
      <main class="row justify-content-center gap-4">
        <p class="col-8 px-0 pb-2 text-dark">
          Navigate to the <span class="fw-bold">SAINSBURY'S</span> website and search for the product that
          you want to set-up the price alert. Click on the product to take you
          to the required product's page.
        </p>
        <p class="col-8 px-0 pb-2 text-dark">
          On the home page type in the product you want exactly as it is written
          on the website, as shown in image below,
          <mark><em>highlighted in yellow</em></mark><br />
          e.g.  
          <span class="text-success fw-bold">
            Coca-Cola Zero Sugar 24x330ml
          </span>
        </p>
        <div class="col-8 p-5 border border-2 border-dark product_showcase">
          <img
            src="/images/how-to-use-demo.png"
            alt="boots website"
            class="img-thumbnail border border-1 border-dark rounded-0"
          />
        </div>
      </main>
    </div>
  </body>
</html>

<!-- style="
background-image: url('images/person-with-clipboard-near-laptop-shopping-trolley-magnifier.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
" -->
