<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs");  %>
  </head>
  <body
    style="
      background-image: url('images/person-with-clipboard-near-laptop-shopping-trolley-magnifier.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    "
  >
    <div class="container-fluid" style="backdrop-filter: blur(6px); height: 100%;">
      <!-- NAVBAR -->
      <%- include("../partials/navbar.ejs")  %>
      <div class="row">
        <div-col-12>
          <!-- HEADER -->
          <%- include("../partials/header.ejs");  %>
        </div-col-12>
      </div>
      <div class="row justify-content-center">
        <p class="col-8 px-0 py-5 text-center text-dark">
          We're glad that you have saved some money with the use of The Money Saver Helper price alert app.
        </p>
      </div> 
      <main class="row justify-content-center">
        <p class="col-8 invisible text-success fw-bold" id="msg"></p>
        <form
          class="col-8 d-flex flex-column gap-4"
          action="/price-alerts-reminder"
          method="post"
        >
          <label for="price_alerts" class="form-label fw-bold fs-5 text-primary"
            >To retrieve your Price Alert(s) enter your email address below:</label
          >
          <input
            type="email"
            class="form-control"
            name="price_alerts"
            id="price_alerts"
            placeholder="example@example.com"
            required
          />
          <button type="submit" class="btn btn-primary fw-bold" onclick="displayMsg()">
            Send Email
          </button>
        </form>
      </main>
    </div>

    <script>
      const paraId = document.getElementById('msg');
      function displayMsg (){
        const email = document.getElementById('price_alerts').value;
        paraId.innerText = `Email sent. Please check your inbox: ${email}`;
        paraId.classList.replace('invisible', 'visible');
      }
    </script>

  </body>
</html>