<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include("../partials/head.ejs"); %>
  <body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs"); %>
    <div
      class="container-fluid pt-5 d-flex justify-content-center flex-column"
      style="
        height: 100vh;
        background-image: url('/images/moneysaver-backgroundAlt.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
      "
    >
      <!-- TITLE -->
      <%- include("../partials/title.ejs"); %>
      <div class="row justify-content-center">
        <p class="col-8 px-0 py-5 text-center text-success fw-bold blurBg">
          We're glad that you have saved some money with the use of The Money
          Saver Helper price alert app.
        </p>
      </div>
      <main class="row justify-content-center">
        <p
          class="invisible col-8 text-success fw-bold fs-6 p-1 product_showcase border border-dark"
          id="msg"
        >
          &#x2709; Please check your inbox. Email sent to:
        </p>
        <form
          class="col-8 d-flex flex-column gap-4 needs-validation"
          action="/price-alerts-reminder"
          method="post"
          novalidate
        >
          <label for="price_alerts" class="form-label fw-bold fs-5"
            >To retrieve your Price Alert(s), enter your email address
            below:</label
          >
          <input
            type="email"
            class="form-control"
            name="price_alerts"
            id="price_alerts"
            placeholder="example@example.com"
            required
          />
          <button
            type="submit"
            class="btn fw-bold border border-dark"
            id="load-btn"
          >
            <span
              class="spinner-border spinner-border-sm invisible"
              role="status"
              aria-hidden="true"
            ></span>
            <span>Send Email</span>
          </button>
        </form>
      </main>
    </div>

    <script>
      (() => {
        "use strict";

        const paraId = document.getElementById("msg");
        const email = document.getElementById("price_alerts");
        const btnRef = document.getElementById("load-btn");
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
              if (form.checkValidity()) {
                btnRef.childNodes[3].innerText = "Retrieving...";
                btnRef.childNodes[1].classList.replace("invisible", "visible");
                paraId.classList.replace("invisible", "visible");
                paraId.innerText += email.value;
              }
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
