<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include("../partials/head.ejs") %>
  <body style="height: 100vh">
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %>
    <div
      class="container-fluid d-flex flex-column justify-content-center pt-5 h-100"
    >
      <main class="row justify-content-center px-0 py-5 text-center">
        <p class="col-8 fs-1">500 Server Error</p>
        <p class="col-8 text-danger fs-5">Oops, something went wrong</p>
        <p class="col-8 fs-5">
          The server encountered an internal error. Please try again in a few
          moments....
        </p>
      </main>
    </div>
  </body>
</html>
