<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include("../partials/head.ejs"); %>
  <body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs"); %>
    <div
      class="container-fluid pt-5 d-flex flex-column justify-content-center"
      style="
        height: 100vh;
        background-image: url('/images/moneysaver-backgroundAlt.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
      "
    >
      <!-- TITLE -->
      <%- include("../partials/title.ejs"); %>
      <div class="row justify-content-center">
        <p class="col-8 px-0 py-5 text-center text-success fw-bold blurBg">
          We're glad that you have saved some money with the use of The Money
          Saver Helper price alert app.
        </p>
      </div>
      <main class="row justify-content-center">
        <form
          id="form"
          class="col-8 d-flex flex-column gap-4 needs-validation"
          action="/unsubscribe"
          method="post"
          novalidate
        >
          <label for="documentId" class="form-label fw-bold fs-5"
            >To Unsubscribe enter your Price Alert ID below:</label
          >
          <input
            type="text"
            class="form-control"
            name="documentId"
            id="documentId"
            placeholder="price alert ID number..."
            minlength="24"
            required
          />
          <button
            type="submit"
            class="btn fw-bold border border-dark"
            id="load-btn"
          >
            <span
              class="spinner-border spinner-border-sm invisible"
              role="status"
              aria-hidden="true"
            ></span>
            <span>Unsubscribe</span>
          </button>
        </form>
      </main>
    </div>
  </body>
</html>

<script>
  (() => {
    "use strict";

    const btnRef = document.getElementById("load-btn");
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
          if(form.checkValidity()) {
            btnRef.childNodes[1].classList.replace("invisible", "visible");
            btnRef.childNodes[3].innerText = "Unsubscribing...";
          }
        },
        false
      );
    });
  })();
</script>
